<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
<tring>

http://dl.appeven.com/infinite/201801/17e5/com.rockstargames.gta3sa_1.0_3_20180117135458_7ogmbo.ipa

</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>org.tihmstar.h3lix</string>
                <key>bundle-version</key>
                <string>1.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>

				
 				<string>
GTASA  تم ترفع من قبل متجر البريمي 
تابعونا على سناب شات xiii309
				</string>
				
            </dict>
        </dict>
    </array>
</dict>
</plist>